<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{appTitle}}</title>

        <script>
            window['sap-ushell-config'] = {
                defaultRenderer: 'fiori2',
            };
        </script>

        <script src="https://ui5.sap.com/1.102.5/test-resources/sap/ushell/bootstrap/sandbox.js"></script>
        <script
            src="https://ui5.sap.com/1.102.5/resources/sap-ui-core.js"
            data-sap-ui-libs="sap.m, sap.ushell, sap.fe.templates"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-frameOptions="allow"
            data-sap-ui-bindingSyntax="complex"
        ></script>
        <script>
            sap.ui.getCore().attachInit(function () {
                sap.ushell.Container.createRenderer().placeAt('content');
            });
        </script>
    </head>
    <body class="sapUiBody" id="content"></body>
</html>
